<ng-template #content>
<div id="create-modal-header" class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Создать нового</h4>
    <button id="close-button" type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="create-modal-body" class="modal-body">
    <form [formGroup]="createForm">
      <div class="form-group">
        <label for="login">Логин</label>
        <div class="input-group">
          <input id="login" formControlName="login" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="password">Пароль</label>
        <div class="input-group">
          <input id="password" formControlName="password" type="password" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="name">Имя</label>
        <div class="input-group">
          <input id="name" formControlName="name" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Фамилия</label>
        <div class="input-group">
          <input id="lastName" formControlName="lastName" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Дата рождения</label>
        <div class="input-group">
          <input id="dateOfBirth" formControlName="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp"
                 ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button id="calendar-button" class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
          <input id="email" formControlName="email" class="form-control">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button id="save-button" type="button" class="btn btn-outline-dark" (click)="close(); submitInfo()">Сохранить</button>
  </div>
</ng-template>
